@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

/* Body css*/

body {
    font-family: 'nunito';
    color:grey;
    background-color: black;
    line-height: 1.2;
    width: 100%;
}

/* nav bar css*/

header {
    position: fixed;
    top: 0px;
    width: 100%;

    height: 17px;
    padding: 25px 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    background-color: darkgray;
    opacity: 0.6;
    letter-spacing: 1px;

    z-index: 5;

}

header a {
    margin-right: 2rem;
    color: rgb(73, 68, 68);

    text-decoration: none;
    z-index: 5;

}

header a:hover {
    margin-right: 2rem;
    color: white;

    text-decoration: underline;
    z-index: 5;
}

header h3{
    margin-right: 2rem;
    color: white;

    text-decoration: none;
    font-size: 1.5em;
    
}

.LClogo {

    position: absolute;
    left: 0%;
    width: 8vw;  
    height: 67px;  
    
    top: 0%;
    /*height: 70px;
   
    top: 0%;
    
    display: flex;
*/
}




/* name-section */
#name-section {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 5vw;
    left: 0vw;
    z-index: 5;
}

#name-section h1 {
    text-align: left;
    font-size: 5vw;
    color: silver;

    position: absolute;
    top: 5vw;
    left: 8vw;
}

#name-section h2 {
    text-align: left;
    font-size: 4vw;
    color: white;

    position: absolute;
    top: 10;
    left: 7vw;

    border-bottom: 1px solid gray;
    padding-bottom: 1px;
    border-bottom-width: 1px;

    word-spacing: 2px;
    letter-spacing: 3px;
}



#backgroundpicture {
 float: right;
 position: absolute;
 top: 4.55vw;
 right: 0.2vw;

}

/* START PROFILE*/



#profile {
    width: 100%;
    height: auto;

    position: absolute;
    top: 36vw;
    left: 2vw;
    z-index: 2;
}

#profile h3 {
    text-align: left;
    font-size: 3vw;
    color: white;

    position: absolute;
    top: 2vw;
    left: 2vw;

    border-bottom: 1px solid white;
    border-bottom-width: 1px;

    word-spacing: 2px;
    letter-spacing: 3px;

}

#profile h6 {
    color: white;
    font-size: 2vw;

    position: absolute;
    top: 5vw;
    left: 3vw;
    
}

/* END PROFILE*/

/* START INTERESTS*/

#Interests {

    width: 100%;
    height: auto;

    position: absolute;
    top: 58vw;
    left: 2vw;
    z-index: 2;
}

#Interests h3 {
    text-align: left;
    font-size: 3vw;
    color: white;

    position: absolute;
    top: 2vw;
    left: 2vw;

    border-bottom: 1px solid grey;
    border-bottom-width: 1px;

    word-spacing: 2px;
    letter-spacing: 5px;
}

#Interests h6 {
    text-align: left;
    font-size: 2vw;
    color: white;

    position: absolute;
    top: 5vw;
    left: 3vw;
}

/* END INTERESTES*/

/* start blog*/

#blog {
    width: 100%;
    height: auto;

    position: absolute;
    top: 80vw;
    left: 2vw;
    z-index: 2;
}

#blog h3{
    text-align: left;
    font-size: 3vw;
    color: white;

    position: absolute;
    top: 2vw;
    left: 2vw;

    border-bottom: 1px solid grey;
    border-bottom-width: 1px;

    word-spacing: 2px;
    letter-spacing: 5px;

}

#blog p{
    text-align: left;
    font-size: 2vw;
    color: white;

    position: absolute;
    top: 8vw;
    left: 3vw;
   
}

#Favouritebutton {
    text-align: left;
    font-size: 2vw;

    position: absolute;
    top: 24vw;
    left: 3vw;

    
}

label, textarea {
    font-size: 3vw;
    letter-spacing: 1px;
    margin: 35vw;
    
}





/* END blog*/




/* START CONTACT*/

#contact {
    width: 75%;
    height: auto;

    position: absolute;
    top: 152vw;
    left: 2vw;
    z-index: 2;
}


#contact h3{
    text-align: left;
    font-size: 3vw;
    color: white;

    position: absolute;
    top: 2vw;
    left: 2vw;

    border-bottom: 1px solid grey;
    border-bottom-width: 1px;

    word-spacing: 2px;
    letter-spacing: 5px;
}


#gitHublogo {
    width: 7vw;
    text-align: left;

    position: absolute;
    top: 17vw;
    left: 19vw;

    opacity: 0.95;
    z-index: 3;
}

#LinkedInlogo {
    width: 7vw;
    text-align: left;



    position:absolute;
    top: 17vw;
    left: 8vw;

    opacity: 0.95;
    z-index: 3;
}
/* END CONTACT*/















